

body {
    color: #000000;    /* Dark gray */
    background-color: #4b4b4b36;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }

h1{
    text-align: center;
}

input{

    color: #000000;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    border: 1px solid #00195f; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    padding: 5px;
}

#compute {
    color: #ffffff;
    background-color: #00195f;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;    /* Dark gray */
    border-radius: 1px;
    width: 200px;
    margin: 20px auto;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* this will calculate what 50% of the element width is and will move it across the X-axis. The negative value ensures it moves to the left. */

}

